.navbar{
    background-color: #E3E1EF;
    height: 3rem;
    /* color: #8e9aaf; */
    color: #e71d36;
    font-family: 'Nunito';
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0.25rem;
    font-size: 28px;
    justify-content: center;
}

.icon img{
    height: 3rem;
    width: 3rem;
}

.searchBar .image{
    position: relative;
    display: inline-block;
    width: 100%;
}

.searchBar .image img{
    height: 40rem;
    width: 100%;
}

.searchBar .search{
    position: absolute;
    top: 20rem;
    right: 10vw;
}

.searchBar .search input{
    width: 20rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    text-align: center;
}

.searchBar .search{
    display: flex;
    align-items: center;
}

.searchBar .search h1{
    font-size: 40px;
    font-family: 'Nunito';
    margin-bottom: 3rem !important;
    color: #e71d36;
    font-weight: 700;
    text-align: center;
}

.searchBar .search input:focus{
    outline: none;
}

.recipes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17rem;
    height: 17rem;
    margin: 0.5rem 0;
    font-size: 20px;
    font-family: 'Nunito';
    gap: 1rem;
    text-align: center;
}

.card img{
    width: 18rem;
    height: 14rem;
}

.displayRecipe{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.recipeHeader, .recipeFooter{
    font-size: 28px;
    font-family: 'Nunito';
    margin: 2rem 1rem;
    color: #e71d36;
}

.recipeFooter{
    text-align: center;
    font-weight: 700;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    font-family: 'Nunito';
    background-color: #E3E1EF;
    height: 3rem;
}

.links{
    color: #2ec4b6;
    text-decoration: none;
}
.links:hover{
    text-decoration: underline;
}

.active{
    display: none;
}


@media(max-width: 600px){
    .searchBar .image img{
        height: 30rem;
    }

    .searchBar .search{
        top: 15rem;
    }
}

@media(max-width:450px){
    .searchBar .image img{
        height: 25rem;
    }
    .searchBar .search{
        top: 12rem;
        right: 5vw;
    }
}

@media(max-width:376px){
    .searchBar .image img{
        height: 20rem;
    }

    .searchBar .search{
        top: 10rem;
        right: 5vw;
    }

    .searchBar .search input{
        width: 18rem;
    }
}

@media(max-width:321px){
    .searchBar .image img{
        height: 15rem;
    }

    .searchBar .search{
        top: 10rem;
        right: 6vw;
    }

    .searchBar .search input{
        width: 14rem;
        height: 2.5rem;
    }

}